In [1]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": -48.4814,
	"longitude": -72.5891,
	"hourly": ["temperature_2m","relative_humidity_2m", "dew_point_2m", "rain", "snowfall", "pressure_msl", "surface_pressure", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "vapour_pressure_deficit", "wind_gusts_10m", "soil_moisture_0_to_7cm"],
	"start_date": "2024-08-08",
	"end_date": "2024-08-08"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(4).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(5).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(6).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(7).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(8).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(9).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(10).ValuesAsNumpy()
hourly_soil_moisture_0_to_1cm = hourly.Variables(11).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_1cm

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates -48.375°N -72.625°E
Elevation 257.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  temperature_2m  relative_humidity_2m  \
0  2024-08-08 00:00:00+00:00            2.27                  2.27
1  2024-08-08 01:00:00+00:00            2.27                  2.27
2  2024-08-08 02:00:00+00:00            2.07                  2.07
3  2024-08-08 03:00:00+00:00            1.82                  1.82
4  2024-08-08 04:00:00+00:00            1.57                  1.57
5  2024-08-08 05:00:00+00:00            1.57                  1.57
6  2024-08-08 06:00:00+00:00            0.77                  0.77
7  2024-08-08 07:00:00+00:00            0.67                  0.67
8  2024-08-08 08:00:00+00:00            0.67                  0.67
9  2024-08-08 09:00:00+00:00            0.87                  0.87
10 2024-08-08 10:00:00+00:00            1.07                  1.07
11 2024-08-08 11:00:00+00:00            1.42                  1.42
12 2024-08-08 12:00:00+00:00            1.22                  1.22
13 2024-08-08 13:00:00+00:00            1.32                  1.32
14 2024-08-08 14:00:00+00:00            1.67                  1.67
15 2024-08-08 15:00:00+00:00            2.52                  2.52
16 2024-08-08 16:00:00+00:00            3.57                  3.57
17 2024-08-08 17:00:00+00:00            4.52                  4.52
18 2024-08-08 18:00:00+00:00            6.47                  6.47
19 2024-08-08 19:00:00+00:00            6.92                  6.92
20 2024-08-08 20:00:00+00:00            6.92                  6.92
21 2024-08-08 21:00:00+00:00            6.57                  6.57
22 2024-08-08 22:00:00+00:00            6.27                  6.27
23 2024-08-08 23:00:00+00:00            6.17                  6.17

    dew_point_2m  pressure_msl  surface_pressure  cloud_cover_low  \
0           77.0           0.0       1027.300049       995.164307
1           77.0           0.0       1026.500000       994.389282
2           77.0           0.0       1026.300049       994.172729
3           77.0           0.0       1025.599976       993.465698
4           78.0           0.0       1025.199951       993.049744
5           79.0           0.0       1024.599976       992.468567
6           80.0           0.0       1024.199951       991.988892
7           79.0           0.0       1023.200012       991.008850
8           78.0           0.0       1022.299988       990.137146
9           76.0           0.0       1021.700012       989.579102
10          75.0           0.0       1021.200012       989.117920
11          74.0           0.0       1021.000000       988.964355
12          82.0           0.0       1020.799988       988.747559
13          89.0           0.0       1020.500000       988.468567
14          93.0           0.0       1019.799988       987.830322
15          90.0           0.0       1019.200012       987.345947
16          89.0           0.0       1018.500000       986.786316
17          88.0           0.0       1017.000000       985.439575
18          82.0           0.0       1015.099976       983.813965
19          78.0           0.0       1014.700012       983.475525
20          77.0           0.0       1014.400024       983.184753
21          77.0           0.0       1014.400024       983.146729
22          78.0           0.0       1014.400024       983.113525
23          79.0           0.0       1014.700012       983.393494

    cloud_cover_mid  cloud_cover_high  vapour_pressure_deficit  \
0              38.0               0.0                     43.0
1              44.0               0.0                      2.0
2              36.0               4.0                      0.0
3              30.0              43.0                     65.0
4              14.0             100.0                    100.0
5               0.0             100.0                    100.0
6               0.0              63.0                     99.0
7               0.0              42.0                     27.0
8               9.0              43.0                     57.0
9              49.0              34.0                     47.0
10             90.0              57.0                     53.0
11             73.0              66.0                     10.0
12             78.0              66.0                     13.0
13             81.0              68.0                     51.0
14             81.0              65.0                     10.0
15             77.0              60.0                     18.0
16             85.0              59.0                      0.0
17             86.0              65.0                      0.0
18             80.0              56.0                      0.0
19             79.0              58.0                      0.0
20             76.0              44.0                      0.0
21             76.0              47.0                      0.0
22             80.0              47.0                      0.0
23             79.0              41.0                      0.0

    wind_gusts_10m  soil_moisture_0_to_7cm
0         0.165963               11.520000
1         0.165963               10.799999
2         0.163613               12.240000
3         0.160717               11.879999
4         0.151004               12.240000
5         0.144141               12.599999
6         0.129606               11.159999
7         0.135107               10.799999
8         0.141539               10.799999
9         0.156648               11.159999
10        0.165541               13.679999
11        0.176546               15.840000
12        0.120487               16.919998
13        0.074164               15.119999
14        0.048395               15.840000
15        0.073456               16.199999
16        0.087034               17.280001
17        0.101492               17.280001
18        0.174280               18.000000
19        0.219695               18.719999
20        0.229681               19.799999
21        0.224229               20.880001
22        0.210096               20.880001
23        0.199169               20.880001

In [2]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 52.52,
	"longitude": 13.41,
	"hourly": ["temperature_2m", "relative_humidity_2m", "dew_point_2m", "pressure_msl", "surface_pressure", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "vapour_pressure_deficit", "wind_gusts_10m", "soil_moisture_0_to_7cm"],
	"forecast_days": 3
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(2).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(3).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(4).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(5).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(6).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(7).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(8).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(9).ValuesAsNumpy()
hourly_soil_moisture_0_to_7cm = hourly.Variables(10).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_7cm

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates 52.52000045776367°N 13.419998168945312°E
Elevation 38.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  temperature_2m  relative_humidity_2m  \
0  2024-08-14 00:00:00+00:00       19.845499                  52.0
1  2024-08-14 01:00:00+00:00       19.095499                  56.0
2  2024-08-14 02:00:00+00:00       18.645500                  58.0
3  2024-08-14 03:00:00+00:00       18.395500                  60.0
4  2024-08-14 04:00:00+00:00       17.895500                  61.0
..                       ...             ...                   ...
67 2024-08-16 19:00:00+00:00       23.295500                  65.0
68 2024-08-16 20:00:00+00:00       22.545500                  70.0
69 2024-08-16 21:00:00+00:00       21.845499                  75.0
70 2024-08-16 22:00:00+00:00       21.289000                  78.0
71 2024-08-16 23:00:00+00:00       20.889000                  81.0

    dew_point_2m  pressure_msl  surface_pressure  cloud_cover_low  \
0       9.702487   1012.900024       1008.423889              0.0
1      10.113062   1012.299988       1007.815002              0.0
2      10.217696   1011.900024       1007.409851              0.0
3      10.491232   1012.000000       1007.505737              0.0
4      10.268336   1011.799988       1007.298950              0.0
..           ...           ...               ...              ...
67     16.347971   1015.099976       1010.666260              0.0
68     16.799376   1015.299988       1010.854004              0.0
69     17.215679   1015.400024       1010.943176              4.0
70     17.297525   1014.799988       1010.337646              0.0
71     17.506224   1014.799988       1010.331482             14.0

    cloud_cover_mid  cloud_cover_high  vapour_pressure_deficit  \
0               0.0              58.0                 1.112316
1               0.0              97.0                 0.973222
2               0.0             100.0                 0.903272
3               0.0              74.0                 0.846904
4               0.0               0.0                 0.800248
..              ...               ...                      ...
67             85.0             100.0                 1.000949
68             70.0             100.0                 0.819897
69             77.0             100.0                 0.654762
70             73.0               2.0                 0.556930
71             83.0               0.0                 0.469327

    wind_gusts_10m  soil_moisture_0_to_7cm
0        28.080000                     NaN
1        29.160000                     NaN
2        27.359999                     NaN
3        27.359999                     NaN
4        24.480000                     NaN
..             ...                     ...
67       24.119999                     NaN
68       13.679999                     NaN
69       10.080000                     NaN
70        9.000000                     NaN
71        6.120000                     NaN

[72 rows x 12 columns]

In [3]:
hourly_dataframe["hour"] = hourly_dataframe["date"].dt.hour
hourly_dataframe["period"] = hourly_dataframe["hour"].apply(lambda x: 1 if x <= 8 else (2 if x <= 16 else 3))
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,pressure_msl,surface_pressure,cloud_cover_low,cloud_cover_mid,cloud_cover_high,vapour_pressure_deficit,wind_gusts_10m,soil_moisture_0_to_7cm,hour,period
0,2024-08-14 00:00:00+00:00,19.845499,52.0,9.702487,1012.900024,1008.423889,0.0,0.0,58.0,1.112316,28.080000,NaN,0,1
1,2024-08-14 01:00:00+00:00,19.095499,56.0,10.113062,1012.299988,1007.815002,0.0,0.0,97.0,0.973222,29.160000,NaN,1,1
2,2024-08-14 02:00:00+00:00,18.645500,58.0,10.217696,1011.900024,1007.409851,0.0,0.0,100.0,0.903272,27.359999,NaN,2,1
3,2024-08-14 03:00:00+00:00,18.395500,60.0,10.491232,1012.000000,1007.505737,0.0,0.0,74.0,0.846904,27.359999,NaN,3,1
4,2024-08-14 04:00:00+00:00,17.895500,61.0,10.268336,1011.799988,1007.298950,0.0,0.0,0.0,0.800248,24.480000,NaN,4,1

In [4]:
hourly_dataframe["date"]= hourly_dataframe["date"].dt.date

In [5]:
hourly_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     72 non-null     object
 1   temperature_2m           72 non-null     float32
 2   relative_humidity_2m     72 non-null     float32
 3   dew_point_2m             72 non-null     float32
 4   pressure_msl             72 non-null     float32
 5   surface_pressure         72 non-null     float32
 6   cloud_cover_low          72 non-null     float32
 7   cloud_cover_mid          72 non-null     float32
 8   cloud_cover_high         72 non-null     float32
 9   vapour_pressure_deficit  72 non-null     float32
 10  wind_gusts_10m           72 non-null     float32
 11  soil_moisture_0_to_7cm   0 non-null      float32
 12  hour                     72 non-null     int32
 13  period                   72 non-null     int64
dtypes: float32(11), int32(1), int64(1), object(1)
memory usage: 4.6+ KB

In [6]:
df_period = hourly_dataframe.groupby(['date', 'period']).agg({"temperature_2m":'mean',
'relative_humidity_2m':'mean',
'dew_point_2m':'mean',
'pressure_msl':'mean',
'surface_pressure':'mean',
'cloud_cover_low':'mean',
'cloud_cover_mid':'mean',
'cloud_cover_high':'mean',
'vapour_pressure_deficit':'mean',
'wind_gusts_10m':'mean',
'soil_moisture_0_to_7cm':'mean'})

In [7]:
df_period.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, (datetime.date(2024, 8, 14), 1) to (datetime.date(2024, 8, 16), 3)
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   temperature_2m           9 non-null      float32
 1   relative_humidity_2m     9 non-null      float32
 2   dew_point_2m             9 non-null      float32
 3   pressure_msl             9 non-null      float32
 4   surface_pressure         9 non-null      float32
 5   cloud_cover_low          9 non-null      float32
 6   cloud_cover_mid          9 non-null      float32
 7   cloud_cover_high         9 non-null      float32
 8   vapour_pressure_deficit  9 non-null      float32
 9   wind_gusts_10m           9 non-null      float32
 10  soil_moisture_0_to_7cm   0 non-null      float32
dtypes: float32(11)
memory usage: 570.0 bytes

In [8]:
df_period.head(24)

                   temperature_2m  relative_humidity_2m  dew_point_2m  \
date       period
2024-08-14 1            19.417721             57.444443     10.761745
           2            30.464251             38.500000     14.611723
           3            25.474072             68.571426     18.728439
2024-08-15 1            21.928833             84.555557     19.156799
           2            27.164249             58.125000     18.185564
           3            23.231215             75.285713     18.510256
2024-08-16 1            20.823278             83.888885     17.918039
           2            28.820499             42.250000     14.581209
           3            22.815073             69.142860     16.723415

                   pressure_msl  surface_pressure  cloud_cover_low  \
date       period
2024-08-14 1        1012.188904       1007.709290         0.000000
           2        1010.762512       1006.451477         0.000000
           3        1012.200012       1007.810730         0.000000
2024-08-15 1        1013.888916       1009.440002        17.444445
           2        1015.250000       1010.872620        56.625000
           3        1015.757141       1011.319458         2.142857
2024-08-16 1        1015.933350       1011.458557         2.666667
           2        1014.512451       1010.162109         6.125000
           3        1014.899963       1010.459839         2.571429

                   cloud_cover_mid  cloud_cover_high  vapour_pressure_deficit  \
date       period
2024-08-14 1              0.000000         69.000000                 0.971237
           2             17.625000         47.125000                 2.724952
           3             98.428574         90.142860                 1.114085
2024-08-15 1             26.111111         11.111111                 0.418448
           2             31.500000          0.000000                 1.515712
           3              8.000000         31.857143                 0.729202
2024-08-16 1              8.333333         44.111111                 0.420059
           2             51.125000         44.375000                 2.302050
           3             83.000000         57.428570                 0.883641

                   wind_gusts_10m  soil_moisture_0_to_7cm
date       period
2024-08-14 1            26.639999                     NaN
           2            28.305000                     NaN
           3            20.108570                     NaN
2024-08-15 1            10.160000                     NaN
           2            30.014999                     NaN
           3            13.268571                     NaN
2024-08-16 1            10.719999                     NaN
           2            32.129997                     NaN
           3            19.080000                     NaN

In [22]:
df_datos= pd.DataFrame(df_period, columns=['temperature_2m', 'relative_humidity_2m','wind_gusts_10m'])

In [23]:
df_datos

                   temperature_2m  relative_humidity_2m  wind_gusts_10m
date       period
2024-08-14 1            19.417721             57.444443       26.639999
           2            30.464251             38.500000       28.305000
           3            25.474072             68.571426       20.108570
2024-08-15 1            21.928833             84.555557       10.160000
           2            27.164249             58.125000       30.014999
           3            23.231215             75.285713       13.268571
2024-08-16 1            20.823278             83.888885       10.719999
           2            28.820499             42.250000       32.129997
           3            22.815073             69.142860       19.080000

In [9]:
fechas= df_period.index.get_level_values(0)

In [10]:
#elimino datos repetidos de la fecha
fechas = fechas.unique()
fechas

Index([2024-08-14, 2024-08-15, 2024-08-16], dtype='object', name='date')

In [11]:
fechas =fechas.T

In [12]:
fechas

Index([2024-08-14, 2024-08-15, 2024-08-16], dtype='object', name='date')

In [13]:
df_period.index.get_level_values(0)

Index([2024-08-14, 2024-08-14, 2024-08-14, 2024-08-15, 2024-08-15, 2024-08-15,
       2024-08-16, 2024-08-16, 2024-08-16],
      dtype='object', name='date')

In [14]:
import joblib

model = joblib.load('model.pkl')

/home/leo/.local/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.5.0 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/leo/.local/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator RandomForestRegressor from version 1.5.0 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [15]:
prediccion = model.predict(df_period)
print(f'Predicción para mañana: {prediccion}')

Predicción para mañana: [0.         0.06185714 0.17047024 0.39910119 0.14296429 0.1729623
 0.12223809 0.10907143 0.13367857]

In [16]:
import numpy as np
import pandas as pd

# Convertir la lista en un array de NumPy para facilitar el redimensionamiento
array_prediccion = np.array(prediccion)

# Redimensionar el array en una matriz con 3 columnas
array_prediccion_reshaped = array_prediccion.reshape(-1, 3)

# Crear un DataFrame a partir de la matriz
df = pd.DataFrame(array_prediccion_reshaped, columns=['Mañana', 'Tarde', 'Noche'], index=fechas)
df
# Mostrar el DataFrame
print(df)

              Mañana     Tarde     Noche
date
2024-08-14  0.000000  0.061857  0.170470
2024-08-15  0.399101  0.142964  0.172962
2024-08-16  0.122238  0.109071  0.133679

In [17]:
df

              Mañana     Tarde     Noche
date
2024-08-14  0.000000  0.061857  0.170470
2024-08-15  0.399101  0.142964  0.172962
2024-08-16  0.122238  0.109071  0.133679

In [18]:
from datetime import date
date.today().isoformat()

'2024-08-14'